# flask and plugins
flask
Flask-Testing

requests

# testing tools
flake8
coverage

# error reporting
sentry-sdk[flask]

--extra-index-url https://nexus.secure.amsterdam.nl/repository/pypi-hosted/simple
tma-saml>=0.4
