--extra-index-url https://nexus.secure.amsterdam.nl/repository/pypi-hosted/simple
asn1crypto==1.2.0
blinker==1.4
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
coverage==4.5.4
cryptography==2.8
defusedxml==0.6.0
eight==0.4.2
entrypoints==0.3
flake8==3.7.9
Flask==1.1.1
Flask-Testing==0.7.1
future==0.16.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
lxml==4.3.4
MarkupSafe==1.1.1
mccabe==0.6.1
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
pyOpenSSL==18.0.0
python-dateutil==2.8.1
requests==2.22.0
sentry-sdk==0.13.4
signxml==2.6.0
six==1.13.0
tma-saml==0.4.1
urllib3==1.25.7
Werkzeug==0.16.0
