# flask and plugins
flask
Flask-Testing

requests
python-dateutil

# testing tools
flake8
coverage
freezegun

# error reporting
sentry-sdk[flask]

--extra-index-url https://nexus.secure.amsterdam.nl/repository/pypi-hosted/simple
tma-saml>=0.4.2
