openapi: 3.0.3
info:
  title: Decos join koppel api API
  description: Dit is het koppelstuk tussen mijn amsterdam en decos join
  version: 1.0.0
servers:
  - url: 'https://mijn.amsterdam.nl'
paths:
  /decosjoin/getvergunningen:
    get:
      summary: Returns a list verguningen.
      description: Returns a list of vergunningen
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vergunningenlist'
  /decosjoin/listdocuments/{encrypted_zaak_id}:
    parameters:
      - name: encrypted_zaak_id
        in: path
        description: fernet encoded string of zaak id
        schema:
          type: string
        required: true
    get:
      summary: Returns a list of documents for zaak
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Documentlist'
        '400':
          description: errors
  /decosjoin/document/{encrypted_doc_id}:
    parameters:
      - name: encrypted_doc_id
        in: path
        description: fernet encoded string of document id
        schema:
          type: string
        required: true
    get:
      summary: Returns a document as http download
      responses:
        '200':
          description: Returns document blob
  /status/health:
    get:
      summary: returns "OK"
      responses:
        '200':
          description: Returns "OK"
components:
  schemas:
    Vergunningenlist:
      anyOf:
        - $ref: '#/components/schemas/Vergunning_TVM_RVV_Object'
        - $ref: '#/components/schemas/Vergunning_VakantieVerhuurVergunning'
        - $ref: '#/components/schemas/Vergunning_VakantieVerhuur'
        - $ref: '#/components/schemas/Vergunning_VakantieVerhuurAfmelding'
        - $ref: '#/components/schemas/Vergunning_BBVergunning'
        - $ref: '#/components/schemas/Vergunning_GPP'
        - $ref: '#/components/schemas/Vergunning_GPK'
        - $ref: '#/components/schemas/Vergunning_EvenementMelding'
        - $ref: '#/components/schemas/Vergunning_EvenementVergunning'
        - $ref: '#/components/schemas/Vergunning_Omzettingsvergunning'
        - $ref: '#/components/schemas/Vergunning_ERVV_TVM'
        - $ref: '#/components/schemas/Vergunning_BZP'
        - $ref: '#/components/schemas/Vergunning_BZB'
    Vergunning:
      type: object
      properties:
        title:
          type: string
          example: 'SB RVV ontheffing hele stad'
        caseType:
          type: string
          example: 'TVM - RVV - Object'
        identifier:
          type: string
          example: 'Z/20/1234567'
        dateRequest:
          $ref: '#/components/schemas/DateTime'
        status:
          type: string
          example: 'Ontvangen'
        decision:
          type: string
          example: '?'
        dateDecision:
          type: string
          format: date-time
        documentsUrl:
          type: string
          example: '/api/decos/listdocuments/<fernetstring>'
    TvmRvvObjectVergunning:
      allOf:
        - $ref: '#/components/schemas/Vergunning'
        - type: object
          properties:
            dateEnd:
              $ref: '#/components/schemas/Date'
            dateStart:
              $ref: '#/components/schemas/Date'
            kenteken:
              $ref: '#/components/schemas/Kenteken'
            location:
              $ref: '#/components/schemas/Location'
            timeEnd:
              $ref: '#/components/schemas/Time'
            timeStart:
              $ref: '#/components/schemas/Time'
    Vergunning_TVM_RVV_Object:
      allOf:
        - $ref: '#/components/schemas/Vergunning'
    Vergunning_VakantieVerhuurVergunning:
      allOf:
        - $ref: '#/components/schemas/Vergunning'
    Vergunning_VakantieVerhuur:
      allOf:
        - $ref: '#/components/schemas/Vergunning'
    Vergunning_VakantieVerhuurAfmelding:
      allOf:
        - $ref: '#/components/schemas/Vergunning'
    Vergunning_BBVergunning:
      allOf:
        - $ref: '#/components/schemas/Vergunning'
    Vergunning_GPP:
      allOf:
        - $ref: '#/components/schemas/Vergunning'
    Vergunning_GPK:
      allOf:
        - $ref: '#/components/schemas/Vergunning'
    Vergunning_EvenementMelding:
      allOf:
        - $ref: '#/components/schemas/Vergunning'
    Vergunning_EvenementVergunning:
      allOf:
        - $ref: '#/components/schemas/Vergunning'
    Vergunning_Omzettingsvergunning:
      allOf:
        - $ref: '#/components/schemas/Vergunning'
    Vergunning_ERVV_TVM:
      allOf:
        - $ref: '#/components/schemas/Vergunning'
    Vergunning_BZP:
      allOf:
        - $ref: '#/components/schemas/Vergunning'
    Vergunning_BZB:
      allOf:
        - $ref: '#/components/schemas/Vergunning'
    Documentlist:
      type: array
      items:
        $ref: '#/components/schemas/Document'
    Document:
      type: object
      properties:
        id:
          type: string
          example: D/2296393
        title:
          type: string
          example: Besluit toekenning
        url:
          type: string
          example: 'api/decosjoin/document/<fernetstring>'
    Date:
      type: string
      format: date
      example: '2020-06-16'
    Time:
      type: string
      example: '10:15'
    DateTime:
      type: string
      format: date-time
      example: '2020-06-08T00:00:00'
    Kenteken:
      type: string
      example: 'aa-11-aa'
    Location:
      type: string
